<div *ngIf="game" class="pl-5 pr-5 pt-3 clouded-background h-100 w-100 auth-background">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div *ngIf="clearedScreen" class="text-center">
          <h3>{{gameMessage}}</h3>
        </div>
        <div *ngIf="!clearedScreen">
          <div class="container w-100" *ngIf="currentQuestion">
            <h1 class="text-center" *ngIf="currentQuestion">{{currentQuestion.questionText}}</h1>
            <ul>
              <li class="{{option.answerProgressClass}} mt-4" style="list-style-type: decimal;border: 1px solid"
                  *ngFor="let option of currentQuestion.possibleOptions; let i = index">
                <div class="m-3">
                  <h4 class="text-center">{{option.answerValue}}
                    <span *ngIf="option.countedAnswers != undefined">- {{option.countedAnswers | number :'1.0-0'}}
                      / {{currentQuestion.totalAnswers | number :'1.0-0'}}
                      - {{option.optionPercentageOfTotalAnswers | number :'1.0-0'}}%</span></h4>
                </div>
                <mat-progress-bar mode="determinate" style="height: 12px;"
                                  value="{{option.optionPercentageOfTotalAnswers}}"></mat-progress-bar>
              </li>
            </ul>
          </div>
        </div>
        <div class="container w-100" *ngIf="!currentQuestion">
          <h3>How to play:</h3>
          <ol>
            <li>Connect to Wifi 'Alex Mili Wedding' using the password 'wedding1'.</li>
            <li>A page should come up and ask you to name yourself, then you're ready to play.</li>
          </ol>
        </div>
      </div>
      <h3>Players</h3>
      <div class="row">
        <div class="card-group">
          <app-player *ngFor="let player of game.players"
                      [player]="player">
          </app-player>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <app-scoreboard [game]="game"></app-scoreboard>
      </div>
      <div *ngIf="currentQuestion" class="row">
        <div class="col pt-2">
          <ul type="none">
            <li>How to join:</li>
            <li>Wifi 'Alex Mili Wedding' password 'wedding1'.</li>
            <li>Type 192.168.0.5 or scan</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
