<h1 class="pl-3 mb-2">Venue{{(validatedRSVP.rsvpType == RSVP_TYPE_ALL) ? "s" : ""}}</h1>

<div class="pb-5 pl-5 pr-5 civil-background background-image">
  <div style="height:50px;"></div>
  <div class="row justify-content-md-center mt-2 pb-2 venue-clouded-background">
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="row">
        <div class="col venue-text">
          <h5><span *ngIf="validatedRSVP.rsvpType == RSVP_TYPE_ALL">Wedding &</span> Reception Venue</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Three Rivers Golf and Country Club</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Stow Road, Cold Norton</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Purleigh, Essex
        </div>
      </div>
      <div class="row">
        <div class="col">
          CM3 6RR
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Telephone:</b> +44 (0)1621 829781
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Email:</b> info@threeriversclub.com
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-8 col-lg-8 col-xl-8">
      <div class="map-responsive">
        <iframe style="width: 100%;height: 100%; min-height: 250px;"
                src="https://maps.google.com/maps?q=Three%20Rivers%20golf%20and%20country%20club&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
  </div>
  <div style="height:50px;"></div>
  <div class="row justify-content-md-center mt-4 venue-clouded-background"
       *ngIf="validatedRSVP.rsvpType == RSVP_TYPE_ALL">
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="row">
        <div class="col venue-text">
          <h5>Mehndi Party Venue</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Orsett Hall</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          ​Prince Charles Avenue
        </div>
      </div>
      <div class="row">
        <div class="col">
          Orsett
        </div>
      </div>
      <div class="row">
        <div class="col">
          Essex RM16 3HS
        </div>
      </div>
      <div class="row">
        <div class="col">
          United Kingdom
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Telephone:</b> +44 (0) 1375 891402
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Email:</b> reception@orsetthall.co.uk
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          Located in Thurrock, Essex, Orsett Hall is just off the M25 junction 30/3, near the QE2 Bridge to Dartford.
          It is close to Basildon and Tilbury Dock, and just 15 minutes from Lakeside Shopping Centre. London City Airport
          is 30 minutes by car; London Stansted Airport is 35 miles away. The Grays, Stanford-Le-Hope and West Horndon
          railway stations are all on the London Fenchurch Street C2C train line.
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-8 col-lg-8 col-xl-8">
      <div class="map-responsive">
        <iframe style="width: 100%;height: 100%;"
                src="https://maps.google.com/maps?q=orsett%20hall&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
  </div>
</div>
