<table>
  <thead>
  <th>Country / Location</th>
  <th>Merit Budget Pool</th>
  <th>Merit Allocated</th>
  <th>Merit - Allocated %</th>
  <th>Merit Remaining</th>
  <th></th>
  <th>Promotion Budget Pool</th>
  <th>Promotion Allocated</th>
  <th>Promotion - Allocated %</th>
  <th>Promotion Remaining</th>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td></td>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
  </tr>
  </tbody>
</table>

<table>
  <tbody>
  <tr>
    <td>Eligible Employees</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Total Merit Reviewed</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Total Promotion Reviewed</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Employees Reviewed %</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Average Merit Allocated</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Average Merit Allocated %</td>
    <td>6</td>
  </tr>
  <tr>
    <td>Average Promotion Allocated</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Average Promotion Allocated %</td>
    <td>8</td>
  </tr>
  </tbody>
</table>
