ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul ul {
  margin-left: 18px;
}

ul li {
  margin: 0;
  padding: 0 7px;
  line-height: 20px;
  border-left: 1px dotted rgb(100, 100, 100);
}

ul li:last-child {
  border-left: none;
}

ul li:last-child:before {
  border-left: 1px dotted rgb(100, 100, 100);
}

ul li:before {
  position: relative;
  top: -0.3em;
  height: 1em;
  width: 12px;
  color: white;
  border-bottom: 1px dotted rgb(100, 100, 100);
  content: "";
  display: inline-block;
  left: -7px;
}
