<div *ngIf="game" class="container w-100 alert-info" style="border-left: 1px solid;border-right: 1px solid;border-bottom: 1px solid;border-top: 1px solid;">
  <h1 class="text-center">Scoreboard</h1>
  <div class="row" style="border-bottom: 1px solid;border-top: 1px solid;">
    <div class="col">
      Player
    </div>
    <div class="col">
      Score
    </div>
  </div>
  <div *ngFor="let player of game.players" class="row">
    <div class="col">
      {{player.name}}
    </div>
    <div class="col">
      {{player.score}}
    </div>
  </div>
</div>
