<h3>Search for record:</h3>

<label for="searchItem">
  Item:
  <input id="searchItem" #searchItemInput [value]="searchItem"
         (keyup)="inputChanges(searchItemInput.value,'searchItem')"
         type="text"/>
</label>
<label for="searchValue">
  Value:
  <input id="searchValue" #formulaInputName [value]="searchValue"
         (keyup)="inputChanges(formulaInputName.value,'searchValue')"
         type="text"/>
</label>

<button mat-button class="btn" (click)="search()">Search</button>

<div *ngIf="searchResults">
  <table>
    <tr *ngFor="let result of searchResults;">
      <td>
        {{result.record.uuid}}
      </td>
      <td>
        <button mat-button class="btn" (click)="load(result.record.uuid)">Load</button>
      </td>
      <div *ngIf="result.record.entries">
        <table>
          <tr>
            <td *ngFor="let entry of result.record.entries;">
              {{entry.name}} - {{entry.value}}
            </td>
          </tr>
        </table>
      </div>
    </tr>
  </table>
</div>
<div>
  <table [ngModel]="matTable" mat-table [dataSource]="searchResults" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef class="p-1">{{column}}</th>
      <td mat-cell *matCellDef="let element" class="p-1">{{element.getEntry(column).value}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
