<label for="sourceSelect">Source: </label>
<select id="sourceSelect" [(ngModel)]="selectedSource">
  <option value="" selected="selected"></option>
  <option *ngFor="let source of sources" [ngValue]="source">{{source.name}}</option>
</select>

<table id="searchTextResults">
  <tr>
    <th>Duration</th>
    <th>Format</th>
    <th>Bit rate</th>
    <th>Resolution</th>
    <th>Aspect Ratio</th>
    <th>FPS</th>
  </tr>
  <tr>
    <!--<td>{{selectedSource.sourceInfo.format.duration | number : 2}}</td>-->
    <!--<td>{{selectedSource.sourceInfo.format.format_long_name}}</td>-->
    <!--<td>{{selectedSource.sourceInfo.format.bit_rate}}</td>-->
    <!--<td>{{selectedSource.sourceInfo.streams[0].width}} x {{selectedSource.sourceInfo.streams[0].height}}</td>-->
    <!--<td>{{selectedSource.sourceInfo.streams[0].display_aspect_ratio}}</td>-->
    <!--<td>{{selectedSource.sourceInfo.streams[0].avg_frame_rate}}</td>-->
  </tr>
</table>

<div *ngIf="selectedSource">
  <div>
    {{selectedSource.url}}
  </div>

  <editor-player [(selectedSource)]="selectedSource"></editor-player>

  <div class="container no-gutters">
    <div class="row no-gutters">
      <mark-list [(selectedSource)]="selectedSource"></mark-list>
      <clip-list [(selectedSource)]="selectedSource"></clip-list>
    </div>
  </div>
</div>
