<label for="sourceSelect">Source: </label>
<select id="sourceSelect" [(ngModel)]="selectedSource">
  <option value="" selected="selected"></option>
  <option *ngFor="let source of sources" [ngValue]="source">{{source.name}}</option>
</select>

<!--<table id="searchTextResults">-->
  <!--<tr>-->
    <!--<th>Duration</th>-->
    <!--<th>Format</th>-->
    <!--<th>Bit rate</th>-->
    <!--<th>Resolution</th>-->
    <!--<th>Aspect Ratio</th>-->
    <!--<th>FPS</th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>{{selectedSource.sourceInfo.format.duration | number : 2}}</td>-->
    <!--<td>{{selectedSource.sourceInfo.format.format_long_name}}</td>-->
    <!--<td>{{selectedSource.sourceInfo.format.bit_rate}}</td>-->
    <!--<td>{{selectedSource.sourceInfo.streams[0].width}} x {{selectedSource.sourceInfo.streams[0].height}}-->
    <!--</td>-->
    <!--<td>{{selectedSource.sourceInfo.streams[0].display_aspect_ratio}}</td>-->
    <!--<td>{{selectedSource.sourceInfo.streams[0].avg_frame_rate}}</td>-->
  <!--</tr>-->
<!--</table>-->

<div *ngIf="selectedSource">
  <div>
    {{selectedSource.url}}
  </div>

  <video id="playerElement" class="embed-responsive" controls [src]="selectedSource.url" [(ngModel)]="player"
         (timeupdate)="timeUpdate()"></video>
  <label>TimeStamp: {{duration}}</label>
</div>

<!--<input type="number" min="0" max="9" ng-model="timeHourTens"/>-->
<!--<input type="number" min="0" max="9" ng-model="timeHourOnes"/>-->
<!--<span>H</span>-->
<!--<input type="number" min="0" max="5" ng-model="timeMinTens"/>-->
<!--<input type="number" min="0" max="9" ng-model="timeMinOnes"/>-->
<!--<span>M</span>-->
<!--<input type="number" min="0" max="5" ng-model="timeSecTens"/>-->
<!--<input type="number" min="0" max="9" ng-model="timeSecOnes"/>-->
<!--<span>S</span>-->
<!--<input type="number" min="0" max="9" ng-model="timeFrameTens"/>-->
<!--<input type="number" min="0" max="9" ng-model="timeFrameOnes"/>-->

<!--<button type="button" class="btn btn-primary" ng-click="setSourceTime()">Set</button>-->

<!--<input type="number" min="0" max="10" ng-change="setSourceSpeed()" ng-model="playBackSpeed"/>-->

<!--<div class="container no-gutters">-->
<!--<div class="row no-gutters">-->
<!--<div class="col">-->
<!--Marks:-->
<!--<button type="button" class="btn btn-primary" ng-click="createMark()">Mark</button>-->
<!--<div ng-repeat="mark in selectedSource.marks" class="card">-->
<!--<div class="card-body">-->
<!--{{ toTimeString(mark.time) }}-->
<!--<button type="button" class="btn btn-primary"-->
<!--ng-click="jumpToMark(mark)">Show-->
<!--</button>-->
<!--<button type="button" class="btn btn-primary"-->
<!--ng-click="deleteMark(mark)">Delete-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col">-->
<!--Clips:-->
<!--<button type="button" class="btn btn-primary" ng-click="createClip()">Clip-->
<!--</button>-->
<!--<div ng-repeat="clip in selectedSource.clips" class="card">-->
<!--<div class="card-body">-->
<!--<div ng-switch on="clip.lockedIn">-->
<!--<div ng-switch-default>-->
<!--<select ng-model="clip.startMark"-->
<!--ng-change="setClipStart(clip)">-->
<!--<option ng-repeat="mark in selectedSource.marks"-->
<!--ng-value="mark">-->
<!--{{ toTimeString(mark.time) }}-->
<!--</option>-->
<!--</select>-->
<!-- - -->
<!--<select ng-model="clip.endMark"-->
<!--ng-change="setClipEnd(clip)">-->
<!--<option ng-repeat="mark in selectedSource.marks"-->
<!--ng-value="mark">-->
<!--{{ toTimeString(mark.time) }}-->
<!--</option>-->
<!--</select>-->
<!--</div>-->
<!--<div ng-switch-when="true">-->
<!--{{ toTimeString(clip.startMark.time) }} - {{-->
<!--toTimeString(clip.endMark.time)-->
<!--}}-->
<!--</div>-->
<!--</div>-->

<!--<div ng-switch on="clip.lockedIn">-->
<!--<div ng-switch-default>-->
<!--<button type="button" class="btn btn-primary"-->
<!--ng-click="lockInClip(clip)">-->
<!--Lock In-->
<!--</button>-->
<!--</div>-->
<!--<div ng-switch-when="true">-->
<!--<button type="button" class="btn btn-primary"-->
<!--ng-click="unlockClip(clip)">-->
<!--Unlock-->
<!--</button>-->
<!--<button type="button" class="btn btn-primary"-->
<!--ng-click="splitClip(clip)">-->
<!--Split-->
<!--</button>-->
<!--<button type="button" class="btn btn-primary"-->
<!--ng-click="finaliseClip(clip)">-->
<!--Finalise-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<!--<button type="button" class="btn btn-primary"-->
<!--ng-click="deleteClip(clip)">-->
<!--Delete-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

