<div class="container-fluid main-header">
  <div class="row">
    <div class="col text-center grey-text wedding-of">
      THE WEDDING OF
    </div>
  </div>

  <div class="row">
    <div class="col text-right big-name spaced-letters align-self-center">
      MILI GUDKA
    </div>
    <div class="col-1 text-center big-and">
      &
    </div>
    <div class="col text-left big-name spaced-letters align-self-center">
      ALEX BROWN
    </div>
  </div>

  <div class="row">
    <div class="col text-center grey-text wedding-date">
      MAY 26th, 2019
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a class="hut-link" [routerLink]="['/home']">
        <img class="img-fluid" src="assets/images/blue-hut.png">

        <div class="carousel-caption text-center hut-centered-text">
          <div>Home</div>
        </div>
      </a>
    </div>
    <div class="col text-center">
      <a class="hut-link" [routerLink]="['/schedule']">
        <img class="img-fluid" src="assets/images/light-blue-hut.png">

        <div class="carousel-caption text-center hut-centered-text">
          <div>Schedule</div>
        </div>
      </a>
    </div>
    <div class="col text-center">
      <a class="hut-link" [routerLink]="['/venue']">
        <img class="img-fluid" src="assets/images/yellow-hut.png">

        <div class="carousel-caption text-center hut-centered-text">
          <div>Venue</div>
        </div>
      </a>
    </div>
    <div class="col text-center">
      <a class="hut-link" [routerLink]="['/accommodation']">
        <img class="img-fluid" src="assets/images/purple-hut.png">

        <div class="carousel-caption text-center hut-centered-text">
          <div>Accommodation</div>
        </div>
      </a>
    </div>
    <div class="col text-center">
      <a class="hut-link" [routerLink]="['/rsvp']">
        <img class="img-fluid" src="assets/images/green-hut.png">

        <div class="carousel-caption text-center hut-centered-text">
          <div>RSVP</div>
        </div>
      </a>
    </div>
    <div class="col text-center">
      <a class="hut-link" [routerLink]="['/faq']">
        <img class="img-fluid" src="assets/images/red-hut.png">

        <div class="carousel-caption text-center hut-centered-text">
          <div>FAQ</div>
        </div>
      </a>
    </div>
  </div>

  <div class="row d-lg-none d-xl-none">
    <div class="col text-center">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mx-auto">
              <a class="nav-item nav-link" [routerLink]="['/home']">Home</a>
              <a class="hut-link nav-link" [routerLink]="['/schedule']">Schedule</a>
              <a class="hut-link nav-link" [routerLink]="['/venue']">Venue</a>
              <a class="hut-link nav-link" [routerLink]="['/accommodation']">Accommodation</a>
              <a class="nav-link nav-link" [routerLink]="['/rsvp']">RSVP</a>
              <a class="nav-link nav-link" [routerLink]="['/faq']">FAQ</a>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
