<div>
  <button mat-button class="alert-primary m-2" (click)="nextQuestion()">Next Question</button>
  <button mat-button class="alert-primary m-2" (click)="markAnswers()">Mark Answers</button>
  <button mat-button class="alert-primary m-2" (click)="endRound()">End Round</button>
  <button mat-button class="alert-primary m-2" (click)="clearScreen()">Clear Screen</button>
</div>
  <button mat-button class="alert-primary m-2" (click)="displayMessage()">Game Message</button>
  <input type="text" (keyup)="updateDisplayMessage($event)"/>
<div class="pt-3">
</div>
<div class="pt-3">
  <button mat-button class="alert-primary m-2" (click)="resetGame()">Reset Game</button>
</div>

<div *ngIf="countDownActive">
  <h1>{{countDownRemaining}}</h1>
</div>

<div class="p-2" *ngIf="game">
  <div *ngFor="let player of game.players">
    {{player.name}} - {{player.id}}
    <button mat-button class="alert-primary m-2">Remove</button>
    <button mat-button class="alert-primary m-2">Rename</button>
    <button mat-button class="alert-primary m-2">Lock Rename</button>
  </div>
</div>
