<p>Clarity</p>
<div class="container">
  <div class="row">
    <label for="a">
      A: <input id="a" #formulaInputA [value]="formulaA" (keyup)="onKeyUp(formulaInputA.value,'A')" type="text"/>
    </label>
  </div>
  <div class="row">
    <label for="b">
      B: <input id="b" #formulaInputB [value]="formulaB" (keyup)="onKeyUp(formulaInputB.value,'B')" type="text"/>
    </label>
  </div>
</div>

<button mat-button (click)="pushed()">Calculate!</button>
<div><span>Result {{answer}}</span></div>

<input type="file" id="files" name="files[]" multiple/>

<div class="dropzone" dnd>
  <div class="text-wrapper">
    <div class="centered">Drop your file here!</div>
  </div>
</div>

<div *ngIf="rootNode">
  <app-parse-tree-node [node]="rootNode"></app-parse-tree-node>
</div>
