<p>Clarity - Formula Tester</p>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <label for="a">-->
<!--      A: <input id="a" #formulaInputA [value]="formulaA" (keyup)="onKeyUp(formulaInputA.value,'A')" type="text"/>-->
<!--    </label>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <label for="b">-->
<!--      B: <input id="b" #formulaInputB [value]="formulaB" (keyup)="onKeyUp(formulaInputB.value,'B')" type="text"/>-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->

<!--<button mat-button (click)="pushed()">Calculate!</button>-->

<input type="file" id="files" name="files[]" multiple/>

<div class="dropzone" dnd>
  <div class="text-wrapper">
    <div class="centered">Drop your file here!</div>
  </div>
</div>

<label for="formula">
  Formula Lookup:
  <input id="formula" #formulaInputName [value]="formulaName" (keyup)="onKeyUp(formulaInputName.value,'Name')"
         type="text"/>
</label>


<button mat-button class="btn" (click)="checkFormula()">Check Formula!</button>

<div><span>Result {{answer}}</span></div>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>




<!--<div *ngIf="formula">-->
<!--  <span>{{formula.strExpression}}</span>-->
<!--  <app-parse-tree-node [node]="formula.rootNode"></app-parse-tree-node>-->
<!--</div>-->
