@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*//TODO: Can this be hard linked so it isn't an outside reference? */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
