.big-name {
  color: #15f2fd;
  font-size: 30px;
  font-weight: 900;
  transform: scale(1, 1.8);
  letter-spacing: 4px;
}

.big-and {
  font-size: 90px;
  font-weight: 100;
  color: #a57c00;
}

.grey-text {
  color: #ccba97;
}

.wedding-date {
  font-weight: 700;
}

.wedding-of {
  letter-spacing: 2px;
}
