@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.big-name {
  color: #15f2fd;
  font-size: 30px;
  font-weight: 900;
  transform: scale(1, 1.8);
  letter-spacing: 4px;
}

.big-and {
  font-size: 90px;
  font-weight: 100;
  color: #a57c00;
}

.grey-text {
  color: #ccba97;
}

.wedding-date {
  font-weight: 700;
}

.wedding-of {
  letter-spacing: 2px;
}

.main-header {
  background-image: url('assets/images/background-sky.jpg');
  background-size: cover;
}

.home {
  background-image: url('assets/images/pic.jpg');
}

.hut-centered-text {
  top: 45%;
}

.hut-link {
  text-decoration: none!important;
  cursor: pointer;
  color: green;
}

.hut-link:hover {
  color: black ;
  text-decoration: none!important;
  cursor: pointer;
}

.rsvp-radio-group {
  flex-direction: column;
}

.rsvp-radio-button {
  margin: 6px;
}

.hotel-border {
  background-color: #041b3e !important;
}

.count-down-number {
  padding: 3px 29px;
  background: #ccba97;
  font-family: Roboto,sans-serif;
  font-weight: 300;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.auth-background {
  background-image: url('assets/images/auth-background.jpg');
}

.reception-background {
  background-image: url('assets/images/reception-small.jpg');
}

.reception-background-top {
  background-image: url('assets/images/reception-small-top.jpg');
}


.mehndi-background {
  background-image: url('assets/images/Mehndi-short.png');
}

.mehndi-background-flipped {
  background-image: url('assets/images/Mehndi-short-flipped.png');
}

.mehndi-background-pink {
  background-image: url('assets/images/Mehndi-pink.png');
}

.civil-background {
  background-image: url('assets/images/seaside-small.jpg');
  font-weight: 600;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-clouded-background {
  background-color: rgba(147, 255, 247, 0.6);
  box-shadow: 0 0 5px 10px rgba(147, 255, 247, 0.6);
}

.white-text {
  color: white;
}

.top-link-hut {
  max-height: 25px;
}

.gold-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a98504;
}
