<div class="container-fluid d-flex h-100 flex-column auth-background text-center">
  <div class="row h-50 align-items-center justify-content-center">
    <div class="col-auto p-lg-5 auth-clouded-background">
      <div class="row">
        <div class="col">
          <span>Welcome from Mili and Alex</span>
        </div>
      </div>
      <div class="row pt-lg-2">
        <div class="col">
          <span><b>This wedding website is protected</b></span>
        </div>
      </div>
      <div class="row pt-lg-2">
        <div class="col">
          <span>Please enter the password found on your RSVP card inside your invitation</span>
        </div>
      </div>
      <form>
        <div class="row justify-content-center pt-lg-4">
          <div class="col-auto">
            <input type="text" class="form-control"
                   id="password" placeholder="Password" required
                   [(ngModel)]="password" name="password">
          </div>
          <div class="col-auto">
            <button style="min-width: 100px" (click)="checkPassword()" type="submit" class="btn btn-primary">Enter
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

