<div ng-repeat="clip in clips" class="card">
  <div class="card-header">
    Clip for - {{clip.source.name}}
  </div>
  <div class="card-body">
    <div class="grid">
      <div class="row">
        <p class="card-text">URL: {{clip.source.url}}</p>
      </div>
      <div class="row">
        {{calcDuration(clip.source.sourceInfo.format.duration)}}
        {{clip.source.sourceInfo.format.format_long_name}}
        {{calcResolution(clip.source)}}
        {{clip.source.sourceInfo.streams[0].display_aspect_ratio}}
      </div>
      <div class="row">
        {{calcDuration(clip.startMark.time)}}
        {{calcDuration(clip.endMark.time)}}
      </div>
      <div class="row">
        <div>
          <button type="button" class="btn btn-primary"
                  ng-click="updateEncodedProgress(clip)">Refresh Progress
          </button>
          <button type="button" class="btn btn-primary"
                  ng-click="">Publish
          </button>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
             ng-style="{'width' : calcPercentEncoded(clip, 1) + '%'}" aria-valuemin="0"
             aria-valuemax="100">
          {{calcPercentEncoded(clip, 1) | number:2}}%
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
             ng-style="{'width' : calcPercentEncoded(clip, 2) + '%'}" aria-valuemin="0"
             aria-valuemax="100">
          {{calcPercentEncoded(clip, 2) | number:2}}%
        </div>
      </div>
    </div>
  </div>
</div>
