<div class="d-flex align-items-center flex-shrink-0">
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center">
      <span class="fs-7 fw-bold text-gray-700 flex-shrink-0 px-3 d-none d-md-block">WORKSHEET - {{(worksheetStatus$ | async).worksheetName}}</span>
    </div>

    <div class="d-flex align-items-center">
      <button click-stop-propagation type="button" class="sort-button btn btn-sm btn-icon btn-secondary"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Previous Page" (click)="previousPage()">
        <i class="fa-solid fa-caret-left"></i>
      </button>
      <select [(ngModel)]="currentPageNumber" class="form-select form-select-sm form-select-solid"
              data-hide-search="true"
              (change)="pageNumberChanged()">
        <option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</option>
      </select>
      <button click-stop-propagation type="button" class="sort-button btn btn-sm btn-icon btn-secondary"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Next Page" (click)="nextPage()">
        <i class="fa-solid fa-caret-right"></i>
      </button>
      <span class="fs-7 fw-bold text-gray-700 flex-shrink-0 px-3 d-none d-md-block">of {{(worksheetStatus$ | async).totalPages}}</span>
    </div>


    <div class="d-flex align-items-center">
      <select [(ngModel)]="pageSize" class="form-select form-select-sm form-select-solid" data-hide-search="true"
              (change)="pageSizeChanged()">
        <option *ngFor="let option of pageSizeOptions" [value]="option">{{option}}</option>
      </select>

      <span class="fs-7 fw-bold text-gray-700 flex-shrink-0 px-3 d-none d-md-block">per page</span>
    </div>


    <div class="d-flex align-items-center">
    <span
      class="fs-7 fw-bold text-gray-700 flex-shrink-0 d-none d-md-block">{{(worksheetStatus$ | async).headCount}}
      records</span>
    </div>
  </div>
</div>

