<video name="player" id="player" class="embed-responsive" controls [src]="selectedSource.url" [(ngModel)]="player" (timeupdate)="timeUpdate()"></video>

<input name="timeHourTens" type="number" min="0" max="9" [(ngModel)]="timeHourTens"/>
<input name="timeHourOnes" type="number" min="0" max="9" [(ngModel)]="timeHourOnes"/>
<span>H</span>
<input name="timeMinTens" type="number" min="0" max="5" [(ngModel)]="timeMinTens"/>
<input name="timeMinOnes" type="number" min="0" max="9" [(ngModel)]="timeMinOnes"/>
<span>M</span>
<input name="timeSecTens" type="number" min="0" max="5" [(ngModel)]="timeSecTens"/>
<input name="timeSecOnes" type="number" min="0" max="9" [(ngModel)]="timeSecOnes"/>
<span>S</span>
<input name="timeFrameTens" type="number" min="0" max="9" [(ngModel)]="timeFrameTens"/>
<input name="timeFrameOnes" type="number" min="0" max="9" [(ngModel)]="timeFrameOnes"/>

<button type="button" class="btn btn-primary" (click)="setSourceTime()">Set</button>

<input type="number" [(ngModel)]="player.playbackRate"/>
