/* Sticky header row */
table tr th {
  position: sticky;
  top: 0;
  z-index: 9;
}

.table-container {
  //height: 100vh;
  overflow: scroll;
}

$highlight-color: #FFECEE;
$highlight-alternating: #FBFCFD;
$highlight-white: #FFF;

table tr:nth-child(odd) {
  background-color: $highlight-alternating;

  &:hover {
    background-color: $highlight-color;
  }
}

table tr:nth-child(even) {
  background-color: $highlight-white;

  &:hover {
    background-color: $highlight-color;
  }
}

