<app-notice [svg]="'./assets/media/svg/icons/Tools/Tools.svg'">
  <p>
    Hello, it's Alex! Tools checking in.
  </p>
</app-notice>

<div class="card card-custom gutter-b">
  <form class="form" novalidate #form="ngForm">
    <div class="card-body">
      <div class="tab-content pt-3">
        <div class="form-group row">
          <label class="col-lg-3 col-form-label text-lg-right">Desktop Fixed Header:</label>
          <div class="col-lg-9 col-xl-4">
              <span class="switch switch-icon">
                <label>
                  <input
                    type="checkbox"
                    name="builder[header][self][fixed][desktop]"
                    [ngModel]="tick"
                    (click)="testMessage()"
                  />
                  <span></span>
                </label>
              </span>
            <div class="form-text text-muted">
              <ng-container *ngIf="message$ | async as _message$">{{_message$}}</ng-container>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label text-lg-right"
          >Mobile Fixed Header:</label
          >
          <div class="col-lg-9 col-xl-4">
              <span class="switch switch-icon">
                <label>
                  <input
                    type="checkbox"
                    name="builder[header][self][fixed][mobile]"
                    value="true"
                  />
                  <span></span>
                </label>
              </span>
            <div class="form-text text-muted">
              Enable fixed header for mobile mode
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label text-lg-right"
          >Header Width:</label
          >
          <div class="col-lg-9 col-xl-4">
            <select
              class="form-control form-control-solid"
              name="builder[header][self][width]"
            >
              <option value="fluid">Fluid</option>
              <option value="fixed">Fixed</option>
            </select>
            <div class="form-text text-muted">Select header width type.</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label text-lg-right"
          >Display Header Menu:</label
          >
          <div class="col-lg-9 col-xl-4">
              <span class="switch switch-icon">
                <label>
                  <input
                    type="checkbox"
                    name="builder[header][menu][self][display]"
                    value="true"
                  />
                  <span></span>
                </label>
              </span>
            <div class="form-text text-muted">Display header menu</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label text-lg-right"
          >Static Header Menu:</label
          >
          <div class="col-lg-9 col-xl-4">
              <span class="switch switch-icon">
                <label>
                  <input
                    type="checkbox"
                    name="builder[header][menu][self][static]"
                    value="true"
                  />
                  <span></span>
                </label>
              </span>
            <div class="form-text text-muted">Static header menu</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label text-lg-right"
          >Header Menu Layout:</label
          >
          <div class="col-lg-9 col-xl-4">
            <select
              class="form-control form-control-solid"
              name="builder[header][menu][self][layout]"
            >
              <option value="default">Default</option>
              <option value="tab">Tab</option>
            </select>
            <div class="form-text text-muted">Select header width type.</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label text-lg-right">Header Menu Arrows:</label>
          <div class="col-lg-9 col-xl-4">
              <span class="switch switch-icon">
                <label>
                  <input
                    type="checkbox"
                    name="builder[header][menu][self][rootArrow]"
                    value="true"
                  />
                  <span></span>
                </label>
              </span>
            <div class="form-text text-muted">
              Enable header menu root link arrows
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
