<app-notice [svg]="'./assets/media/svg/icons/Tools/Tools.svg'">
  <p>
    Work out someone's age from their bith date.
  </p>
</app-notice>

<div class="card card-custom gutter-b">
  <form class="form" novalidate #form="ngForm">
    <div class="card-body">
      <div class="tab-content pt-3">
        <div class="form-group row">
          <div class="col-lg-9 col-xl-4">
            <mat-form-field>
              <input matInput [matDatepicker]="startDate" (dateInput)="startDateChange($event)"
                     (dateChange)="startDateChange($event)"
                     placeholder="Birth Date">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-9 col-xl-4">
            <mat-form-field>
              <input matInput [matDatepicker]="ageOnDate" (dateInput)="ageOnDateChange($event)"
                     (dateChange)="ageOnDateChange($event)"
                     placeholder="Age on Date">
              <mat-datepicker-toggle matSuffix [for]="ageOnDate"></mat-datepicker-toggle>
              <mat-datepicker #ageOnDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="text-center">
            <span>
              <ng-container *ngIf="ageYears$ | async as _ageYears$">{{_ageYears$}} </ng-container>
              <ng-container *ngIf="ageMonths$ | async as _ageMonths$">{{_ageMonths$}} </ng-container>
              <ng-container *ngIf="ageDays$ | async as _ageDays$">{{_ageDays$}} </ng-container>
            </span>
        </div>
      </div>
    </div>
  </form>
</div>
