<div *ngIf="validatedRSVP.rsvpType == RSVP_TYPE_ALL || validatedRSVP.rsvpType == RSVP_TYPE_WEDDING_ONLY">
  <div class="p-2 civil-background background-image mt-4">
    <div class="container-fluid pt-5 pb-4">
      <div class="row">
        <div class="col text-center">
          <h2>Group Photo list - Sunday 26th May 2019</h2>
        </div>
      </div>
    </div>

    <div class="container-fluid venue-clouded-background">
      <h3>Group photos – 3.00pm</h3>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 1 - Maid of honour
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Charlotte
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 2 - Best men
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Sean, Alex
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 3 - Best men + Maid of Honour
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Sean, Alex, Charlotte
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 4 - Bridesmaids
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Charlotte, Ravina, Ritika, Krishna, Anisha, Krishna, Pooja, Ellie
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 5 - Alex’s friends
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Alex, Sian, Sean, Kat, Kieron, Michael, Amie, Dan, Andrew
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 6 - Cambridge friends
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Anita, Vinod, Sandra, Dan, Helen, Dan
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 7 - Alex’s aunts/uncles
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Pauline, David, Zahra, Valerie, Uncle William
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 8 - Alex’s cousins
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Claire, Seb, Michael, Isaac, Valerie
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 9 - Mili’s school friends
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Charlotte, William, Natasha, David, Vaishi, Krina, Deepesh, Krishna, Sita, Anish, Anisha
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 10 - Mili’s uni friends
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Manda, Kiran, Pooja, Krishna, Sukh, Ravina, Rishi, Ritika, Sunny
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 11 - Mili’s uni friends
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Sahil, Arti, Gov, Sukhi, Charmee, Vanisha, Arjun, Priya, Tushar, Nikhil
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 12 - Mili’s work friends
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Viv, Richard, Vania, Tasnim, Sophie, Ollie, Kathryn, Ellie, Natasha, Shu-Yi, Bee Yean, Nazia
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 13 - Mili’s aunts/uncles
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Sheela, Nitin, Bipin, Jayshree, Naren, Usha, Bhupen, Jayshree, Sudha, Vipul, Illa, Ameet, Bansi, Madhu, Bansri, Milan, Ajay, Mira
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 14 - Mili’s cousins
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Anand, Pooja, Sonia, Hatul, Soraiya, Savannah, Deepa, Nishil, Neil, Bhavin, Anjeli, Anika, Laksh, Neil, Rupa, Diyaan
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 15 - Mili’s cousins
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Anand, Pooja, Gopa, Kalpesh, Nina, Shay, Arti, Mitul, Heena, Mihir, Nikhil, Jaymal, Seeta, Satchee, Tulsi, Juhi, Shivani, Mehul
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 16 - Family friends
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          Kerikna, Pradeep, Divya, Ashwin, Hiteshree, Jitu, Vasu, Kaushik, Bharti, Pushpendra, Illa
        </div>
      </div>
      <div class="row p-1">
        <div class="col-lg-2 col-md-3 col-sm-4">
          Group 17 - Everyone!
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
          All family and friends.
        </div>
      </div>
    </div>
  </div>
</div>
