<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Bootstrap Sidebar</h3>
    <strong>BS</strong>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a [routerLink]="['/base']">
        <i class="fa fa-car"></i>
        Base
      </a>
    </li>
    <li>
      <a [routerLink]="['/import']">
        <i class="fa fa-car"></i>
        Import
      </a>
    </li>
    <li>
      <a [routerLink]="['/editor']">
        <i class="fa fa-car"></i>
        Editor
      </a>
    </li>
    <li>
      <a [routerLink]="['/qrcode']">
        <i class="fa fa-car"></i>
        QRCode
      </a>
    </li>
  </ul>
</nav>
