<div class="container class">

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h5>Countdown Timer</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="count-down-number text-center display-1">{{remainingDays}}</div>
        <h3>Days</h3>
      </div>
      <div class="col">
        <div class="count-down-number text-center display-1">{{remainingHours}}</div>
        <h3>Hours</h3>
      </div>
      <div class="col">
        <div class="count-down-number text-center display-1">{{remainingMinutes}}</div>
        <h3>Minutes</h3>
      </div>
      <div class="col">
        <div class="count-down-number text-center display-1 text-danger">{{remainingSeconds}}</div>
        <h3>Seconds</h3>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h5>Until {{weddingDate | date: "fullDate"}}</h5>
      </div>
    </div>
  </div>
</div>

