<div class="col">
  Clips:
  <button type="button" class="btn btn-primary" (click)="createClip()">Clip
  </button>
  <div *ngFor="let clip of selectedSource.clips" class="card">
    <div class="card-body">
      <div [ngSwitch]="clip.lockedIn">
        <div *ngSwitchDefault>
          <select [(ngModel)]="clip.startMark"
                  (change)="setStartMark(clip)">
            <option *ngFor="let mark of selectedSource.marks"
                    [ngValue]="mark">
              {{ formatTime(mark.time) }}
            </option>
          </select>
          -
          <select [(ngModel)]="clip.endMark"
                  (change)="setEndMark(clip)">
            <option *ngFor="let mark of selectedSource.marks"
                    [ngValue]="mark">
              {{ formatTime(mark.time) }}
            </option>
          </select>
        </div>
        <div *ngSwitchCase="true">
          {{ clip.startMark.time }} - {{clip.endMark.time}}
        </div>
      </div>

      <div [ngSwitch]="clip.lockedIn">
        <div *ngSwitchDefault>
          <button type="button" class="btn btn-primary"
                  (click)="lockInClip(clip)">
            Lock In
          </button>
        </div>
        <div *ngSwitchCase="true">
          <button type="button" class="btn btn-primary"
                  (click)="unlockClip(clip)">
            Unlock
          </button>
          <button type="button" class="btn btn-primary"
                  (click)="splitClip(clip)">
            Split
          </button>
          <button type="button" class="btn btn-primary"
                  (click)="finaliseClip(clip)">
            Finalise
          </button>
        </div>
      </div>

      <button type="button" class="btn btn-primary"
              (click)="deleteClip(clip)">
        Delete
      </button>
    </div>
  </div>
</div>
