<ng-container *ngIf="isSortFilterOpen$ | async">
  <div class="form-popup" id="sortWindow"
       [style.top]="(sortFilterPopupY$ | async) + 'px'"
       [style.left]="(sortFilterPopupX$ | async) + 'px'"
  >
    <div class="form-container">
      <h3 id="sortHeader">{{(currentSortFilterColumn$ | async)?.name}} {{activeSortDirection}}</h3>

      <div class="filterButtonList">
        <ng-container *ngIf="isActiveSort && activeSortDirection == 'asc'; else notActiveSortAtoZ">
          <a class="btn btn-sm btn-danger me-3 cursor-pointer" (click)="removeSort()">
            Remove A to Z Sort
            <i class="fa-solid fa-remove icon-left"></i>
          </a>

        </ng-container>
        <ng-template #notActiveSortAtoZ>
          <a class="btn btn-sm btn-danger me-3 cursor-pointer" (click)="addSort('asc')">
            Sort A to Z
            <i class="fa-solid fa-arrow-up-long icon-left"></i>
          </a>
        </ng-template>
      </div>
      <div class="filterButtonList">
        <ng-container *ngIf="isActiveSort && activeSortDirection == 'desc'; else notActiveSortZtoA">
          <a class="btn btn-sm btn-danger me-3 cursor-pointer" (click)="removeSort()">
            Remove Sort Z to A
            <i class="fa-solid fa-remove icon-left"></i>
          </a>
        </ng-container>
        <ng-template #notActiveSortZtoA>
          <a class="btn btn-sm btn-danger me-3 cursor-pointer" (click)="addSort('desc')">
            Sort Z to A
            <i class="fa-solid fa-arrow-down-long icon-left"></i>
          </a>
        </ng-template>
      </div>

      <div class="filterButtonList">
        <a class="btn btn-sm btn-danger me-3 cursor-pointer">
          Text filters
          <i class="fa-solid fa-chevron-right icon-right"></i>
        </a>
      </div>
    </div>

    <div class="filterCheckboxesParent">
      <input id="filterSearchBox" type="text" placeholder="Search" onkeyup=""/>

      <div id="filterCheckboxes">
          <cdk-virtual-scroll-viewport itemSize="20" class="example-viewport">
              <ul>
                <li *cdkVirtualFor="let listItem of filteredList$ | async" class="example-item">
                  <p><input type="checkbox" onclick="" value="{{listItem}}"/>{{listItem}}</p>
                </li>
              </ul>
          </cdk-virtual-scroll-viewport>
      </div>
    </div>

    <div class="okFilterButton">
      <a class="btn btn-sm btn-danger me-3 cursor-pointer" (click)="okClicked()">
        OK
      </a>
    </div>
  </div>
</ng-container>
