<div class="card card-custom gutter-b">
  <div>
    Total Memory: {{totalMemory$ | async}} MB
  </div>
  <div>
    Free Memory: {{freeMemory$ | async}} MB
  </div>
  <div>
    Used Memory: {{(totalMemory$ | async) - (freeMemory$ | async)}} MB
  </div>
  <div>
    Max Memory: {{maxMemory$ | async}} MB
  </div>

  <div>
    <button (click)="triggerDownload()">
      Download
    </button>
  </div>
  <div>
    <button (click)="triggerConfigDownload()">
      Download Config
    </button>
  </div>
  <div>
    <button (click)="recalculateHierarchy()">
      Recalculate Hierarchy
    </button>
  </div>
</div>

