<div class="container">
  <div class="row">
    <div class="col mx-auto text-center">
      <div class="text-center">
        <div style="border: 1px solid black">
          {{node.value}}
          <br/>
          ({{node.precedence}})
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="node.left">
      <app-parse-tree-node [node]="node.left"></app-parse-tree-node>
    </div>
    <div class="col" *ngIf="node.right">
      <app-parse-tree-node [node]="node.right"></app-parse-tree-node>
    </div>
  </div>
</div>

